
@{
    ViewBag.Title = "APIError";
}

<h1 class = " text-center">Can not reach the API a wild Snorlax is blocking the path!</h1>

<div class="center-block"><img style="-webkit-user-select: none;" src="https://archives.bulbagarden.net/media/upload/8/87/143Snorlax_RB.png" class="center-block"></div>