
@{
    ViewBag.Title = "CreatePlayerStart";
}

<br /><br />
<h2>Create A Player!</h2>
<h3>Your Character Height and Weight will effect Your Character's Base Stats</h3>
<form action="~/Home/CreatePlayer/" method="post">
    What is your character's name?  <input type="text" name="CharName" /><br />
    What is your character's height in inches? (60 - 96) <input type="number" name="CharHeight" min="60" max="96" value="60"/><br />
    What is your character's weigh in pounds? (130 - 300) <input type="number" name="CharWeight" min="130" max="300" value="130"/><br />

    <input type="submit" name="submit" value="Submit" />
</form>





