
@{
    ViewBag.Title = "CreatePlayerStart";
}

<h3>You have successfully created your account!</h3>
<br /><br />
<h2>Create Your Player!</h2>

<form action="~/Home/CreatePlayer/" method="post">
    What is your character's name?  <input type="text" name="CharName" /><br />
    What is your character's height in inches? (60 - 96) <input type="number" name="CharHeight" min="60" max="96" /><br />
    What is your character's weigh in pounds? (130 - 300) <input type="number" name="CharWeight" min="130" max="300" /><br />

    <input type="submit" name="submit" value="Submit" />
</form>





