
@{
    ViewBag.Title = "DatabaseError";
}

<h1 class="text-center">A wild Porygon has effected the connection, the database cannot be found</h1>


<img alt="File:137Porygon.png" src="//cdn.bulbagarden.net/upload/6/6b/137Porygon.png" class="center-block" width="431" height="431">