
@{
    ViewBag.Title = "PlayConclusion2";
}
<!--need logout button-->
<h2>You made a 3</h2>

<!--need to put in conclusion from gameplay (wether the user made the shot or stole the ball or simply defended against the shot)-->

<a href="~/Home/GameplayResult/">Results</a>