
@{
    ViewBag.Title = "PokeJam";
}

<h2>PokeJam</h2>
@*TODO:INSERT IMAGE HERE*@

<a href="~/Home/Rules/">Rules</a>
<a href="~/Home/ViewStats/">View Stats</a>
<a href="~/GamePlay/SinglePlayer/">Single Player</a>
<a href="~/GamePlay/Tier1/">Tournament</a>

@*TODO:INSERT IMAGE HERE*@
