
@{
    ViewBag.Title = "PokeJam";
}

<h2>PokeJam</h2>
@*TODO:INSERT IMAGE HERE*@

<a href="~/Home/Rules/">Rules</a>
<a href="~/Home/ViewStats/">View Stats</a>

<form action="~/GamePlay/SinglePlayer/" method="post">
    <input type="submit" name="play" value="Single" />
</form>
<form action="~/GamePlay/Tier1/" method="post">
    <input type="submit" name="play" value="Tournament" />
</form>

@*TODO:INSERT IMAGE HERE*@
