@{
    ViewBag.Title = "Rules";
}
<h2>PokeJam Rules</h2>
<div style="font-family: monospace; color: red;">
    <p>
        Have you ever been bored? Wondering if there was a fun game you can play to kill some time?
        Well, be bored no more! We the PokeJam developers have a solution for you.
        <br />
        <br />
        Welcome to the official PokeJam game, where you get to play basetball against any Pokemon of your choice!
        Thats right, BASKETBALL with a POKEMON. Big Pokemon, small Pokemon, fiery Pokemon, grass Pokemon, you can play against ANY Pokemon.
        <br />
        <br />
        There are two choices of game play: play a single game against any Pokemon or try your luck in our PokeJam Tounrament game.
        <br />
        <br />
        Single Match: Choose any Pokemon from our drop down list, and then select heads or tails. The winner of heads or tails makes the first move.
        As a player you can choose to shoot a three-pointer, mid-range shot, or you can lay-up/dunk. You can also attempt to steal or block
        your opponent's shot. The game ends after you and the Pokemon have made two moves each. The player with the most points wins!
        <br />
        <br />
        Tournament: You start the game at Tier 1, you select a Pokemon from our drop down list, and then select heads or tails.
        The winner of heads or tails makes the first move. As a player you can choose to shoot a three-pointer, mid-range shot, or
        you can lay-up/dunk. You can also attempt to steal or block your opponent's shot. The Tier ends after you and the Pokemon have made two moves
        each. The player with the most points wins! If you win you move onto Tier 2, and you will repeat this upto Tier 5. The Pokemon
        get better as you move through the Tiers. Become the PokeJam Champion after winning in Tier 5!
        <br />
        <br />
    </p>
</div>
<center>
    <a href="~/Home/PokeJam/">Back</a>
</center>