
@{
    ViewBag.Title = "Tier1";
}

<h2>Tier1</h2>

<form action="~/Home/GamePlay/" method="post">

    Choose your opponent
    <select>
        <option></option>
    </select>
    <br />
    <br />
    <br />

    Heads or Tails?
    <select>
        <option value="heads">Heads</option>
        <option value="tails">Tails</option>
    </select>

    <input type="submit" name="submit" value="Submit" />
</form>