@{
    ViewBag.Title = "You lose";
}
<!--Need Logout button-->
<h2>You have been unsuccessful in beating the Pokemon Champions</h2>
<!--Need table for tournement results-->

<a href="~/Home/PokeJam/">Back to PokeJam</a>