
@{
    ViewBag.Title = "GameplayResult";
}

<h2>@ViewBag.Winner</h2>

Player's Score: @Session["User"]
Pokemon's: @Session["Comp"]

@if (ViewBag.Truth == "True")
{
    <a href="~/GamePlay/TournamentNext">Continue</a>
}
else if (ViewBag.Truth == "False")
{
    <a href="~/GamePlay/TournamentLoss">Continue</a>
}
else if (ViewBag.Truth == "Tie")
{
    <a href="~/GamePlay/OvertimeStart">Continue</a>
}




<br /><br /><a href="~/Home/PokeJam">@*Forfeit Round and*@ Go Home</a>

<center>
    <img src="~/Content/Primeape.png" />
</center>