
@{
    ViewBag.Title = "GameplayResult";
}

<h2><!--Need to reference winner of game-->has won!</h2>

<table class="table table-bordered">
    <tr>
        <th>User</th>
        <th><!--Pokemon oponnent name--></th>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
<a href="~/Home/Pokejam/">Done</a>



