<center>
    @{
        ViewBag.Title = "GameplayResult";
    }

    <h2>@ViewBag.Winner</h2>

    <h3>
        Player's Score: @Session["User"]
        Pokemon's: @Session["Comp"]
    </h3>

    @if (ViewBag.Truth == "True")
    {
        <button class="btn-danger"><a href="~/GamePlay/TournamentNext" class="btn-danger">Continue</a></button>
    }
    else if (ViewBag.Truth == "False")
    {
        <button class="btn-danger"><a href="~/GamePlay/TournamentLoss" class="btn-danger">Continue</a></button>
    }
    else if (ViewBag.Truth == "Tie")
    {
        <button class="btn-danger"><a href="~/GamePlay/OvertimeStart" class="btn-danger">Continue</a></button>
    }

    <br /><br /><button class="btn-danger"><a href="~/Home/PokeJam" >@*Forfeit Round and*@ Go Home</a></button>
    <br />
    <br />
    <br />
    <img src="~/Content/Primeape.png" />
</center>


<style>
    .btn-danger {
        height: 60px;
        width: 145px;
        background-color:black;
    }
</style>