
@{
    ViewBag.Title = "GameplayResult2";
}

<h2>Gameplay Result</h2>

<h2>@ViewBag.Winner</h2>

Pokemon's: @Session["Comp"]
Player's Score: @Session["User"]


@if (ViewBag.Truth == "True")
{
<a href="~/GamePlay/TournamentNext">Continue</a>
}
else if (ViewBag.Truth == "False")
{
<a href="~/GamePlay/TournamentLoss">Continue</a>
}
else if (ViewBag.Truth == "Tie")
{
<a href="~/GamePlay/OvertimeStart">Continue</a>
}


<br /><br /><a href="~/Home/PokeJam">@*Forfeit Round and*@ Go Home</a>

<br />
<br />

<center>
    <img src="~/Content/Next.png" />
</center>
