
@{
    ViewBag.Title = "GamePlay";
}

<h2>GamePlay</h2>
@Session["PlayType"]

@*TODO: SHOW PLAYER WHO WON HEADS OR TAILS*@
@*TODO:IF POKEMON WINS, SHOW POKEMON MOVE*@

What shot would you like to take?

@*TODO: See if you can do as three seperate links back to the action*@
@*<a href="~/Home/PlayConclusion/"></a>*@


<form action="~/GamePlay/PlayConclusion/" method="post">
    <input type="submit" name="shot" value="ThreePoint" />
</form>

<form action="~/GamePlay/PlayConclusion/" method="post">
    <input type="submit" name="shot" value="MidRange" />
</form>

<form action="~/GamePlay/PlayConclusion/" method="post">
    <input type="submit" name="shot" value="Paint" />
</form>

@*<h3>@ViewBag.Coin</h3><br />
<h3>@ViewBag.Choice</h3>*@