
@{
    ViewBag.Title = "PlayConclusion4";
}

<h2>PlayConclusion4</h2>

@if (ViewBag.Which == 1)
{
    <h2>@(ViewBag.Success ? "Ball was Stolen" : "")</h2>
    if (!ViewBag.Success)
    {
        <h3>@ViewBag.Made</h3>
    }
}
@if (ViewBag.Which == 2)
{
    <h2>@(ViewBag.Success ? "Ball was Stolen" : "")</h2>
    if (!ViewBag.Success)
    {
        <h3>@ViewBag.Made</h3>
    }
}

<a href="~/GamePlay/GameplayResult">Continue</a>
