
@{
    ViewBag.Title = "SinglePlayer";
}

<h2>SinglePlayer</h2>
<h2>@Session["PlayType"]</h2>

@*TODO: GRAB ALL NAMES FROM DATABASE*@

<form action="~/GamePlay/HeadsTailsSingle/" method="post">

    Choose your opponent
    <select name="pokemon">
        @for (int i = 0; i < ViewBag.All.Count; i++)
        {
            var pokemon = ViewBag.All[i];
            <option value="@pokemon.PokeID">@pokemon.PokeName</option>
        }
    </select>
    <br />
    <br />
    <br />

    Heads or Tails?
    @*<select>
        <option value="heads">Heads</option>
        <option value="tails">Tails</option>
    </select>*@

    <input type="submit" name="Coin" value="Heads" />
    <input type="submit" name="Coin" value="Tails" />
</form>