
@{
    ViewBag.Title = "Tier5Congratulations";
}
<!--Need Logout button-->
<h2>You have Successfully Completed the Tournament! You are a Champion!!</h2>
<!--Need table for tournement results-->
<!--need tournament congratualtion picture-->
<a href="~/Home/PokeJam/">Back to PokeJam</a>
