
@{
    ViewBag.Title = "Tier5Congratulations";
}
<!--Need Logout button-->
<center>
<h2>You have Successfully Completed the Tournament! You are a Champion!!</h2>

<!--Need table for tournement results-->
<!--need tournament congratualtion picture-->
<button class="btn-danger"><a href="~/Home/PokeJam/">Back to PokeJam</a></button>

<br />
<br />

    <img src="~/Content/trophy.png" height="430" width="550" />
</center>

<style>
    .btn-danger {
        height: 60px;
        width: 145px;
        background-color: black;
    }
</style>