@{
    ViewBag.Title = "Tier 2";
}
<center>
    <h2>Tier 2</h2>

    <form action="~/GamePlay/HeadsTailsSingle/" method="post">

        <h3>Choose your opponent</h3>
        <select class="dropdown"name="pokemon">
            @for (int i = 0; i < ViewBag.Poke.Count; i++)
            {
                var pokemon = ViewBag.Poke[i];
                <option value="@pokemon.PokeID">@pokemon.PokeName</option>
            }
        </select>
        <br />
        <br />
        <br />

        <h3>Decide Who Goes First. What's Your Pick</h3><br /><br />

        <input class="btn-danger"type="submit" name="Coin" value="Heads" />
        <input class="btn-danger"type="submit" name="Coin" value="Tails" />
    </form>
    <br />
    <br />
    <center>
        <img src="~/Content/a8.jpg" height="430" width="550" />
    </center>
</center>

<style>
    .dropdown {
        background-color: red;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .btn-danger {
        height: 50px;
        width: 75px;
    }
</style>