
@{
    ViewBag.Title = "Tier 1";
}

<h2>Tier 1</h2>

@*<form action="~/GamePlay/GamePlay/" method="post">

        Choose your opponent
        <select>
            <option></option>
        </select>
        <br />
        <br />
        <br />

        Heads or Tails?
        <select>
            <option value="heads">Heads</option>
            <option value="tails">Tails</option>
        </select>

        <input type="submit" name="PlayType" value="PlayTournament" />
    </form>*@

<h2>@Session["PlayType"]</h2>


<form action="~/GamePlay/HeadsTailsSingle/" method="post">

    Choose your opponent
    <select name="pokemon">
        @for (int i = 0; i < ViewBag.Poke.Count; i++)
        {
            var pokemon = ViewBag.Poke[i];
            <option value="@pokemon.PokeID">@pokemon.PokeName</option>
        }
    </select>
    <br />
    <br />
    <br />

    Heads or Tails?
    <input type="submit" name="Coin" value="Heads" />
    <input type="submit" name="Coin" value="Tails" />
</form>