Congratulations you've made it to Tier 2!
@{
    ViewBag.Title = "Tier 2";
}

<h2>Tier 2</h2>

<form action="~/GamePlay/HeadsTailsSingle/" method="post">

    Choose your opponent
    <select name="pokemon">
        @for (int i = 0; i < ViewBag.Poke.Count; i++)
        {
            var pokemon = ViewBag.Poke[i];
            <option value="@pokemon.PokeID">@pokemon.PokeName</option>
        }
    </select>
    <br />
    <br />
    <br />

    Heads or Tails?
    <input type="submit" name="Coin" value="Heads" />
    <input type="submit" name="Coin" value="Tails" />
</form>