
@{
    ViewBag.Title = "Tier5Congratulations";
}
<!--Need Logout button-->
<center>
    <h2>You have Successfully Completed the Tournament! You are a Champion!!</h2>


    <br />


    <img src="~/Content/trophy.png" height="500" width="300" />
    <br />   <br />

    <button class="btn-danger"><a href="~/Home/PokeJam/">Back to PokeJam</a></button>
</center>
<style>
    .btn-danger {
        height: 60px;
        width: 145px;
        background-color: black;
    }
</style>