@{
    ViewBag.Title = "You lose";
}
<h2>You have been unsuccessful in beating the Mighty Pokemon!</h2>


<button class="btn-danger"><a href="~/Home/PokeJam/">Back to PokeJam</a></button>

<center>
    <img src="~/Content/a13.jpg" height="400" width="500" />
</center>

<style>
    .btn-danger {
        height: 50px;
        width: 75px;
    }
</style>