
@{
    ViewBag.Title = "Tournament";
}

<h2>Tournament</h2>

<form action="~/GamePlay/GamePlay/" method="post">

    Choose your opponent
    <select>
        <option></option>
    </select>
    <br />
    <br />
    <br />

    Heads or Tails?
    <select>
        <option value="heads">Heads</option>
        <option value="tails">Tails</option>
    </select>

    <input type="submit" name="PlayType" value="PlayTournament" />
</form>