
@{
    ViewBag.Title = "TournamentNext";
}
<h2>Congratulations! You've Made it to the Next Tier!</h2>


<button class="btn-danger"><a href="@ViewBag.Redirect">Continue</a></button>
<button><a href="~/Home/PokeJam/">Forfeit Round and Go Home</a></button>
<br />
<br />

<center>
    <img src="~/Content/Charizard.png" height="600" width="500"/>
</center>
<style>
    .btn-danger {
        height: 50px;
        width: 75px;
    }
</style>